/*Book inner page*/
.book-summary,
.book-body{
  top: 51px;
}

.book.color-theme-1{
  background: #f3eacb;
}

.book.color-theme-2{
  background: #2d3143;
}

.book.color-theme-1 .header-inner{
  background: #111111;
}

.book.color-theme-2 .header-inner{
  background: #1c1f2b;
}

.header-inner #book-search-input{
  float: right;
  margin: 5px 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, .07);
  background: #fafafa;
}

.header-inner #book-search-input.focus{
  border-color: #4183c4;
}

.book.color-theme-1 .header-inner #book-search-input{
  background: #f3eacb;
  color: #111111;
}

.book.color-theme-1 .header-inner #book-search-input.focus{
  border-color: #704214;
}

.book.color-theme-2 .header-inner #book-search-input.focus{
  border-color: #3eb1d0;
}

.book.color-theme-1 #book-search-results .search-results .has-results .search-results-item{
  color: #704214;
}

.book.color-theme-1 #book-search-results .search-results .has-results .search-results-item a{
  color: inherit;
}

.book.color-theme-2 .header-inner #book-search-input{
  background: #2d3143;
  color: #c1c6d7;
}

.book.color-theme-2 #book-search-results .search-results .has-results .search-results-item{
  color: #bdcadb;
}

.book.color-theme-2 #book-search-results .search-results .has-results .search-results-item a{
  color: #3eb1d0;
}

.header-inner{
  width: 100%;
  padding: 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  margin: auto;
  *zoom: 1;
}

.header-inner:before,
.header-inner:after{
  content: " ";
  display: table;
  line-height: 0;
}

.header-inner:after{
  clear: both;
}

.header-inner .logo{
  float: left;
  height: 50px;
}

.header-inner .logo img{
  display: block;
  height: inherit;
  padding: 5px 0;
}

.header-inner .langs{
  list-style: none;
  margin: 0 0 0 30px;
  padding: 0;
  float: right;
  display: table;
  height: 50px;
}

.header-inner .langs li{
  display: table-cell;
  vertical-align: middle;
}

.header-inner .langs li a{
  transition: opacity .6s;
  text-indent: -9999px;
  margin-right: 15px;
  opacity: 0.3;
}

.header-inner .langs li a:hover,
.header-inner .langs li a.active{
  opacity: 1;
  transition: opacity .6s;
}

.header-inner .langs li a.active:hover{
  cursor: default;
}

.flag{
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url('images/flags.png') no-repeat;
}

.flag.flag-en{
  background-position: 0 0;
}

.flag.flag-ru{
  background-position: -32px 0;
}

@media (max-width: 768px){
  .book-summary,
  .book-body{
    top: 101px;
  }

  .header-inner #book-search-input{
    clear: both;
    width: 100%;
  }
}

/*Book inner page end*/

/*Page select langs*/
.book-langs-index .inner{
  text-align: center;
}

.book-langs-index .inner .logo{
  max-width: 200px;
  margin-bottom: 40px;
  display: inline-block;
}

.book-langs-index .inner .logo img{
  max-width: 100%;
}

/*Page select langs end*/